/*imports*/
@import url(sideBar.css);
@import url(center.css);
@import url(lines.css);

/*variables*/
:root
{
    --PI: 3.14159265358979;

    --font-family: Arial, Helvetica, sans-serif;
    --font-size: 1vw;
    --font-color: #cccccc;
    
    --width: calc(100vw);
    --height: 100vh;

    --sideBar-width: 5rem;
}

.bgImage
{
    position: fixed;
    margin: 0;
    height: var(--height);
    width: var(--width);
    right: 0;
    bottom: 0;
    
    z-index: 5;
}